################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs/dis/v16/Browse.VC.opendb
/.vs/dis/v16/Browse.VC.db-wal
/.vs/dis/v16/Browse.VC.db-shm
/.vs/dis/v16/Browse.VC.db
/.vs/dis/v16/.suo
